Q1.  What is a database? Differentiate between SQL and NoSQL databases?

Ans:- A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS). Together, the data and the DBMS, along with the applications that are associated with them, are referred to as a database system, often shortened to just database.
 
 SQL:- It is also known as relational database management system(RDBMS).
       These databases have fixed or static or predefined schema
       These databases are not suited for hierarchical data storage.
       These databases are best suited for complex queries.
       It is vertically scalable.
       Follows ACID property.
       Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc
       
 NoSQL:-Non-relational or distributed database system.
        They have dynamic schema
         These databases are best suited for hierarchical data storage.
         These databases are not so good for complex queries.
         Horizontally scalable.
        Follows CAP(consistency, availability, partition tolerance)
        Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans:- Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). 
      DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. 
      These commands are used to create or modify the tables in SQL.
      
1. CREATE :-This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.

CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

2.ALTER :
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.

ALTER TABLE Student_info
ADD CGPA number;

3.TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists

TRUNCATE TABLE Student_info;

4.DROP :
This command is used to remove an existing table along with its structure from the Database.

DROP TABLE Student_info;

5.RENAME:

It is possible to change name of table with or without data in it using simple RENAME command.

RENAME TABLE Employee To EMP;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Ans:- The structured query language (SQL) commands deal with the manipulation of data present in the database that belongs to the DML or Data Manipulation Language. This includes most of the SQL statements.

Examples of DML
The examples of DML in the Database Management System (DBMS) are as follows −

SELECT − Retrieve data from the database.

INSERT − Insert data into a table.

UPDATE − Update existing data within a table.

DELETE − Delete records from a database table.

Q4. What is DQL? Explain SELECT with an example.

Ans:-DQL or data query language is to perform the query on the data inside the schema or object (ie table, index, view, function, etc). With the help     of a DQL query, we can get the data from the database to perform actions or operations like analyzing the data.

              Select command is used to fetch the data in a set of records from a table, view or a group of tables, views by making use of SQL joins.

Q5. Explain Primary Key and Foreign Key.
Ans:-A primary key generally focuses on the uniqueness of the table. It is a column or a set of columns that uniquely distinguishes every row in the database. It means it should not have any duplicate value. Also, it doesn’t contain a NULL value.

A foreign key is generally used to build a relationship between the two tables. The major purpose of the foreign key is to sustain data integrity between two separate instances of an entity.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Ans:-

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword"
)

print(mydb)

A cursor is an object which helps to execute the query and fetch the records from the database. The cursor plays a very important role in executing the query.

The Execute method executes the query, SQL statement or procedure specified in the CommandText property of the Command object.

Q7. Give the order of execution of SQL clauses in an SQL query.
Ans:-

SELECT: This clause is executed first to retrieve the required columns from the specified table or tables.

FROM: This clause is executed after the SELECT clause to specify the table or tables from which the data is to be retrieved.

JOIN: If the query involves multiple tables, the JOIN clause is executed next to combine the required data from the tables.

WHERE: This clause is executed after the JOIN clause to filter the data based on the specified conditions.

GROUP BY: If the query involves grouping of data, the GROUP BY clause is executed next to group the data based on the specified columns.

HAVING: This clause is executed after the GROUP BY clause to filter the grouped data based on the specified conditions.

ORDER BY: Finally, the ORDER BY clause is executed to sort the data based on the specified columns and order.

Note that not all queries require all of these clauses, and the order of execution may vary based on the specific requirements of the query.